{% extends 'base.html' %}
{% load static %}
{% block page_title %}
Your cart
{% endblock %}
{% block content %}
<br><br><br>
{% if not user.is_authenticated %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
{% if cart_items %}
<h3>You have selected the following items:</h3>
<br>
  <div class="container">
      <div class="row">{%for i in cart_items %}
          <div class="col-sm-12 col-md-4">
                <img src="{{i.product.photo.cdn_url}}-/scale_crop/300x300/center/-/quality/lightest/" class="mr-3"><br>
    <p>{{cart_product.product.name}}<br>
        Cost: ${{i.product.showPriceInDollars}}0 <br>
        Quantity: {{i.quantity }}        <br>
        <div class="input-group mb-3" style="max-width: 200px;">
            <form method="post" action="{% url 'update_cart' i.id %}">
            <p>Update product quantity: </p>
            {% csrf_token %}
            <input type="number" class="form-control text-center border mr-0" value="{{i.quantity }}" name="quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <div class="d-flex justify-content-center" id="quantityB">
              <button class="btn btn-link btn-sm js-btn-minus" type="button"><i class="fas fa-minus-circle"></i></button>
        <button class="btn btn-link btn-sm js-btn-plus" type="button"><i class="fas fa-plus-circle"></i></button></button>
        </div>
            <br>
          <button class="btn btn-info" type="submit" id="productButton">Update</button>
                  </form>
          </div>
    </p>
  </div>{% endfor %}
</div>
</div>
        <a class='btn btn-warning mb-3 mt-3' href="{%url 'checkout' %}" id="paymentButton">Proceed to Payment</a>
         {% else %}
          <p>No items</p>

          <a href="{% url 'products' %}" class="btn btn-outline-primary btn-md btn-block w-50 mx-auto">Satisfy your sweet tooth with us</a>
        </div>
      </div>
           {% endif %}
{% endblock %}
{% block footer_js %}
<script>
var sitePlusMinus = function() {
		$('.js-btn-minus').on('click', function(e){
			e.preventDefault();
			if ( $(this).closest('.input-group').find('.form-control').val() != 0  ) {
				$(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) - 1);
			} else {
				$(this).closest('.input-group').find('.form-control').val(parseInt(0));
			}
		});
		$('.js-btn-plus').on('click', function(e){
			e.preventDefault();
			$(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) + 1);
		});
	};
	sitePlusMinus();
	</script>
{%endblock%}