body {
  box-sizing:border-box;
}
a:link {
  text-decoration: none;
}
/* base html css */
.navbar {
  background-color:white;
}
.navbar-brand img,.toggler img  {
  height:70px;
}
.navbar .navbar-nav .nav-link, #navDrop {
    color: purple;
    font-family:'Alata', sans-serif;
}
.navbar .navbar-nav .nav-link:hover {
    color: violet;
}
.carousel-item img {
  object-fit:contain;
  margin:0 auto;
}
.carousel-caption {
  font-family: 'Alata', sans-serif;
  top:30%;
  background-color:rgba(128,128,128,0.5);
  height:180px;
}  
#product {
  text-align:center;
}
#cover {
  background-color: aquamarine;
  font-family: 'Alata', sans-serif;
  border-radius:10%;
  padding:5px 10px;
}
h1 {
  font-family:'Kanit', sans-serif;
}
p {
  font-family: 'Alata', sans-serif;
  color:rgb(255,20,147);
}
h3 {
  font-family: 'Kanit', sans-serif;
  color:purple;
}
.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width:100%;
  text-align:center;
  margin:0 auto;
}
#jumbo1{
  background-image:url("../static/images/aboutus.png");
  height:500px;
}
#jumbo2 {
  background-image:url("../static/images/ourbakers.png");
  height:400px;
}
#jumbo3 {
  background-image:url("../static/images/contact.png");
  height:400px;
}
.jumbotron h1 {
  font-weight:bolder;
  color: purple;
}
#aboutleft, #contactleft {
  padding:20px 0;
}
#aboutright, #contactright {
  padding:20px 40px 0;
}
@media only screen and (max-width: 768px) { 
  .navbar-brand img{
    display:none;
  }
    .carousel-item img {
  object-fit:cover;
    height:100vh;
  }
  .carousel-caption {
  height:220px;
  }  
}
/* accordion */
.card-body {
  font-family:'Alata', sans-serif;
  color:rgb(255,20,147);
}
.card {
  background-color:	rgba(255,192,203, 0.5);
  border:1px solid white;
}
.card button {
  font-family:'Kanit', sans-serif;
  text-align:left;
}
.card button:hover {
  text-decoration:none;
  color:#8B0000;
}
#baker {
  padding-top:15px;
  text-align:center;
}
.flip-card {
  background-color: transparent;
  max-width: 400px;
  height: 400px;
  perspective: 1000px;
  margin:10px auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: black;
  color: black;
}
.flip-card-back {
  background-color:rgb(255,192,203, 0.5);
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back h3 {
  padding-top:15px;
}
.flip-card-back p {
  padding:0 20px;
}
#contactform {
  font-family: 'Alata', sans-serif;
}
#footer {
  padding:10px 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  color: purple;
  background-color:white;
  text-align: center;
  font-family: 'Alata', sans-serif;
}
#social {
  margin-right:15px;
}