{% extends 'base.html' %}
{% load static %}
{% block page_title %}
Our bakers
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" id="jumbo2">
  <div class="container"><br><br><div class="mobile"><br><br></div>
    <h1 class="display-4">Our bakers</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" id="baker">
  <p>Our bakers are experienced and dedicated with a wealth of experience they love to share. They may be fun, but they're serious about all things sweet!</p>
  </div>    
      <div class="col-sm-12 col-md-6">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="{% static 'images/baker1.jpg' %}" alt="John" class="img-fluid">
            </div>
            <div class="flip-card-back">
              <h3>John</h3><br><br>
                <p>With over 30 years of baking experience, John is our master baker. He is a self-declared harcore sweet tooth who cannot resist his own baked goods!<br><br>
                John is responsible for creating all the beautiful and intricate decorations on top of your goodies.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="{% static 'images/baker2.jpg' %}" alt="Mary" class="img-fluid">
            </div>
            <div class="flip-card-back">
              <h3>Mary</h3><br><br>
                <p>Mary's love for baking started when she was a teenager. Don't be fooled by her petite frame, she has been working with sweets for as long as she can remember! <br><br>
                She is the mastermind behind our delicious creations, and maintain our bakery's operations for service excellence.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}