{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0">
<!--bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alata|Kanit&display=swap" rel="stylesheet">
<!--custom css-->
    <link href="{% static "style.css" %}" rel="stylesheet">
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-default">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
    <span class="toggler"><img src="{% static 'images/logo.png' %}"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav w-100 nav-justified mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url "about" %}">
            About us
        </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href={% url "products" %}>
          Shop
        </a>
    </li>
     <a class="navbar-brand" href="{% url "index" %}"><img src="{% static 'images/logo.png' %}"></a>
      <li class="nav-item">
        <a class="nav-link" href="{% url "contact" %}">Contact</a>
      </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Members' area
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if not user.is_authenticated %}
          <a class="dropdown-item" href="#" id="navDrop">Register</a>
          <a class="dropdown-item" href="#" id="navDrop">Login</a>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="dropdown-item" href="#" id="navDrop">Update profile</a>
          <a class="dropdown-item" href="#" id="navDrop">Logout</a>
        </div>
         {% endif %}
      </li>
     <li class="nav-item">
       <a class="nav-link" href="#"><i class="fas fa-shopping-cart fa-2x"></i> ({{ item_count }})</a>
     </li>
</ul>
</nav>
    <div class='container-fluid'>
      <div class='alert alert-success'>
         {% if messages %}
          <div>
              <br><br><br><br>
              {% for message in messages %} {{ message }} {% endfor %}
          </div>
        {% endif %}
      </div>  
   <h1>{% block page_heading %}{% endblock %}</h1>
   <div>
       {% block content %}{% endblock %}
   </div>
 <div class="container" id="footer">
   <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>Stay connected with us!</p>
        <i class="fab fa-facebook" id="social"></i>
        <i class="fab fa-twitter" id="social"></i>
        <i class="fab fa-instagram" id="social"></i>
        <i class="fas fa-envelope-open-text" id="social"></i>
        <i class="fab fa-pinterest" id="social"></i>
      </div>
      <div class="col-sm-12 col-md-6">
          <p>Subscribe to our mailing list for our latest updates!</p>
          <label for="subscribe">Email address: </label>
      <input type="email" id="subscribe" placeholder="Email address">
      <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
      </div>
   </div>
</div>
<!--bootstrap js-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--custom js-->
  <script src="{% static "jquery.js" %}"></script>
  <script src="{% static "script.js" %}"></script>
<!--font awesome js-->
  <script src="https://kit.fontawesome.com/eaedda9ae5.js"></script>
  {% block footer_js %}{%endblock%}
</body>
</html>